.starter_spacer {
    height: 500px;
    width: 700px;
    background: var(--color_black);
    border-radius: 5px;
    font-family: "pokemon";
    border: 2px solid #fff;
    outline: 2px solid #444;
}

.select_starter {
    position: relative;
    width: 100%;
}

.select_starter .choice {
    width: calc(100% / 3);
    height: 100px;
}

.select_starter .selected_pokemon_spacer {
    position: absolute;
    top: -40px;
    width: calc(70% / 3);
    height: 100px;
}

.choice:hover { cursor: pointer; }

.selected_pokemon_spacer img {
    opacity: 0;
}

.select_message {
    color: var(--color_white);
    height: 100px;
    width: 100%;
    font-family: "pokemon";
    margin-bottom: 60px;
}

.select_gen {
    width: 320px;
}

.select_gen button {
    border-radius: 3px;
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    outline: 2px solid #232323;
    background: linear-gradient(red, rgb(167, 71, 71));
    width: 140px;
    height: 34px;
    font-family: "pokemon";
    font-weight: bold;
    font-size: 10px;
    margin: 10px;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px var(--color_black);
    paint-order: stroke fill;
    margin-top: 20px;
}

.select_gen button:hover { cursor: pointer; }

.back_button_spacer {
    margin-top: 60px;
}

.back_button_spacer button {
    border-radius: 3px;
    border: 2px solid #f4f4f4;
    color: #f4f4f4;
    outline: 2px solid #232323;
    background: linear-gradient(red, rgb(167, 71, 71));
    width: 140px;
    height: 34px;
    font-family: "pokemon";
    font-weight: bold;
    font-size: 10px;
    margin: 10px;
    letter-spacing: 2px;
    -webkit-text-stroke: 2px var(--color_black);
    paint-order: stroke fill;
    margin-top: 20px;
}

.back_button_spacer button:hover { cursor: pointer; }